body#black-background {
  background-color: black;
}
.iconContainer {
  text-align: center;
  background-color: rgb(0, 225, 255);
  color: white;
}
.parrafos {
  max-width: 95%;
  color: white;
}
.tarjetas {
  max-width: 95%;
  color: white;
}
.custom-hr {
  width: 90%;
  height: 1px;
  background-color: rgb(47, 44, 44);
  margin: 0 auto;
}
.navbar-solid {
  background-color: black;
}
